<h1>{{ section.settings.titulo_lista_colecoes }}</h1>

{% if section.settings.manualmente_lista_colecoes %}
  
    <ul class="lista_colecoes">
      {% for block in section.blocks %}
        <li class="item_lista_colecoes" {{ block.shopify_attributes }}>
          <img src="{{ block.settings.foto_colecao | image_url }}" alt="Foto da coleção" class="foto_colecao">
          <a href="{{ block.settings.link_colecao }}"> {{ block.settings.nome_colecao }} </a>
        </li>
      {% endfor %}
    </ul>

{% else %}
    
  <ul class="lista_colecoes">
    {% for collection in collections %}
      <li {{ block.shopify_attributes }}>
        <img src="{{ collection.image |  image_url: }}" alt="Foto da coleção" class="foto_colecao">
        {{- collection.title | link_to: collection.url }}
      </li>
    {% endfor %}
  </ul>
    
{% endif %}

{% schema %}
{
  "name": "Collection List 2",
  "class": "listcollection2class",
  "tag": "section",
  "settings": [
    {
        "type": "text",
        "label": "Título Da Lista de Coleções",
        "id": "titulo_lista_colecoes",
        "default": "Título",
        "placeholder": "Nome da sua lista de coleções"
      },
    {
        "type": "checkbox",
        "label": "Inserir coleções manualmente",
        "id": "manualmente_lista_colecoes"
      }
  ],
  "presets": [
    {
        "name": "Collection List 2"
      }
  ],
  "blocks": [
    {
      "name": "Coleção",
      "type": "colecao",
      "settings": [
        {
          "type": "image_picker",
          "label": "Foto da Coleção:",
          "id": "foto_colecao"
        },
        {
          "type": "text",
          "label": "Nome da Coleção",
          "id": "nome_colecao"
        },
        {
          "type": "text",
          "label": "Link da Coleção",
          "id": "link_colecao"
        }
      ] 
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .lista_colecoes {
    list-style-type: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  .item_lista_colecoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .foto_colecao {
    width: 160px;
    height: 160px;
    border-radius: 80px;
  }

{% endstylesheet %}